absl-py==1.4.0
aiofile==3.8.7
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyio==4.3.0
appdirs==1.4.4
argcomplete==3.1.1
asn1crypto==0.24.0
async-timeout==4.0.2
attrs==23.1.0
boto3==1.26.161
botocore==1.29.161
bracex==2.3.post1
cachetools==5.3.0
caio==0.9.12
certifi==2022.12.7
cffi==1.15.1
chai-sacred==0.8.3
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==1.3.0
cmake==3.26.3
colorama==0.4.6
contourpy==1.0.7
cryptography==2.1.4
cycler==0.11.0
Cython==0.29.34
dill==0.3.6
distro==1.9.0
dm-control==1.0.13
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
egl-probe==1.0.2
einops==0.6.0
exceptiongroup==1.2.0
expandvars==0.9.0
fasteners==0.15
filelock==3.11.0
fonttools==4.39.3
free-mujoco-py==2.1.6
frozenlist==1.3.3
fsspec==2023.6.0
functional-notations==0.5.2
gitdb==4.0.10
GitPython==3.1.31
glfw==1.12.0
google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.2
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.53.0
gym==0.21.0
h11==0.14.0
h5py==3.8.0
html5tagger==1.3.0
httpcore==1.0.4
httplib2==0.22.0
httptools==0.5.0
httpx==0.27.0
huggingface-hub==0.21.3
huggingface-sb3==2.2.4
hydra-core==1.0.6
idna==3.6
imageio==2.27.0
imageio-ffmpeg==0.4.8
imitation==0.3.2
importlib-metadata==4.13.0
importlib-resources==5.12.0
jaynes==0.9.5
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.4.4
labmaze==1.0.6
lazy_loader==0.2
lightning-utilities==0.8.0
lit==16.0.1
llvmlite==0.36.0
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
mc-bin-client==1.0.1
ml-logger==0.10.15
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
munch==2.5.0
networkx==3.1
numba==0.53.1
numpy==1.23.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.0.6
openai==1.13.3
opencv-python==4.8.0.74
packaging==21.3
pandas==2.0.0
params-proto==2.10.11
pathtools==0.1.2
Pillow==9.5.0
protobuf==3.20.0
psutil==5.9.5
py-cpuinfo==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.5
pycparser==2.21
pycrypto==2.6.1
pycurl==7.45.2
pydantic==2.6.3
pydantic_core==2.16.3
pyglet==1.5.27
PyGObject==3.26.1
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.7
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-lightning==1.9.4
pytz==2023.3
PyWavelets==1.4.1
pyxdg==0.25
PyYAML==6.0
regex==2023.6.3
requests==2.28.2
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
robomimic==0.3.0
robosuite==1.3.2
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.4.2
sanic==23.3.0
Sanic-Cors==2.2.0
sanic-routing==22.8.0
scikit-image==0.21.0
scikit-learn==1.2.2
scikit-video==1.1.11
scipy==1.10.1
seals==0.1.5
SecretStorage==2.3.1
sentry-sdk==1.19.1
setproctitle==1.3.2
six==1.11.0
smmap==5.0.0
sniffio==1.3.1
stable-baselines3==1.8.0
sympy==1.11.1
tap==0.2
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
termcolor==2.2.0
threadpoolctl==3.1.0
tifffile==2023.4.12
tiktoken==0.7.0
tokenizers==0.15.2
torch==2.0.0
torchmetrics==0.11.4
torchvision==0.15.1
tqdm==4.65.0
tracerite==1.1.0
transformers==4.38.2
triton==2.0.0
typing==3.7.4.3
typing_extensions==4.10.0
tzdata==2023.3
ujson==5.8.0
uritemplate==4.1.1
urllib3==1.26.15
uvloop==0.17.0
wandb==0.14.2
wasabi==1.1.1
waterbear==2.6.6
wcmatch==8.4.1
websockets==11.0.3
Werkzeug==2.2.3
wrapt==1.15.0
yarl==1.9.2
zipp==3.15.0
